@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,500,700");

body,
html {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 1em;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  line-height: 1.25;
  color: inherit;
}

.display-3 {
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 1.25;
}

.leftside,
.rightside {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

.leftside {
  background-color: red;
}

.rightside {
  background-color: blue;
}

.chatRow {
  height: 90vh;
  overflow: scroll;
}

.formRow {
  height: 10vh;
  background-color: green;
  overflow: hidden;
}

@media (max-width: 768px) {
  .leftside {
    display: none !important;
  }
}
